:root {
  --border-line: #e4e4e4;
  --dark-back: #000000;
  --white-color: #ffffff;
}

.App {
  text-align: center;
}

.centroid {
  max-width: 1440px;
  margin: auto;
}

.pad-x-20 {
  padding: 0 20px;
}

.flex {
  display: flex;
}


/* Product Nav */
.product-nav {
  /* min-height: 75px;
  max-height: 75px; */
  justify-content: space-between;
  border-bottom: 1px solid var(--border-line);
  padding: 14px 0;
}

.product-cart {
  align-self: center;
  position: relative;
}

.nav-cart-icon {
  width: 34px;
}

.nav-cart-counter {
  display: table;
  padding: 2px 5px;
  background: var(--dark-back);
  color: var(--white-color);
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

