

.product-list{
  margin-bottom: 35px;
  gap: 20px;
}

/* ProductItemsList */
.product-items-list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 20px;
}

.product-item{
  width: 100%;
  overflow-x: hidden;
}

.product-item-image {
	background: var(--border-line);
  width: 100%;
  height: 457px;
  position: relative;
  overflow: hidden;
}

.product-item-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.abs-top-left {
	top: 0 !important;
	left: 0 !important;
	bottom: unset !important;
}

.product-cart-btn {
	position: absolute;
	bottom: -40px;
	left: 0;
	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
}

.product-item-image:hover .product-cart-btn {
	bottom: 0px;
	left: 0;
}

/* Pagination */
.paginationHolder {
	list-style: none;
	width: 80%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paginationHolder a {
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
	font-size: 18px;
	color: var(--paginate-disabled);
	cursor: pointer;
}

.paginationActive a {
	cursor: default;
	pointer-events: none;
	color: var(--dark-back);
}

.prevBtn,
.nextBtn {
	background-image: url(../ico/carret-down.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
}

.prevHolder {
	transform: rotate(90deg);
}

.nextHolder {
	transform: rotate(-90deg);
}