
.product-header {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--border-line);
}

.product-image-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.product-image-box img {
  width: 100%;
  object-fit: cover;
}

.product-tag {
  padding: 10px 15px;
  font-size: 14px;
  background: var(--white-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.product-title {
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 12px 0;
}

.app-title {
  flex: 5;
  font-weight: 700;
  font-size: 18px;
}

.product-title-btn {
  flex: 1;
}

.show-on-mobile {
  display: none;
}


/* description */
.product-summary-box {
  padding: 14px 0;
  gap: 20px;
}

.product-category {
  opacity: 0.5;
  font-weight: 700;
}

p {
  line-height: 150%;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .product-summary-box {
    flex-direction: column;
  }

  .product-summary-box > * {
    text-align: left !important;
  }
}

@media screen and (max-width: 480px) {
  .show-on-mobile {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }
}